.tableclass{
    display: flex;
   
    text-align: center;
    justify-content: center;
    /* font-family: "Trebuchet MS", Arial, Helvetica, sans-serif; */
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    /* border-collapse: collapse; */
    width: auto;
}

.tablebodyclass{
    background-color: darkred;
}

.tabletrclass{
    background-color: white;
}

.tdtableclass{
    /* background-color: gray; */
}