.fullLogoImageContainer{
  margin-top: -80px;
}

.main-title{
  text-align: center;
  // transform: translateY(-90px)
}

.mainLogo{
  width: 7%;
}

.go-back-to-deck{
  position: absolute;
  top: 42px;
  right: 20px;

  box-shadow:inset 0px 34px 0px -15px #270b06;
	background-color:#1d0e0e;
	border:1px solid darkred;
	display:inline-block;
	cursor:pointer;
	color:#ffffff;
	font-family: Verdana, Geneva, Tahoma, sans-serif;
	padding:20px 34px;
	text-decoration:none;
	text-shadow:0px -1px 0px #7a2a1d;
}

@media only screen and (max-width: 480px){
  .go-back-to-deck{
    position: absolute;
    top: -27px;
    right: -15px;
    padding:10px 20px;
  }

  .mainLogo{
    width: 14%;
    transform: translateY(-30px);
  }
}
